@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto:wght@100;300;400;500;700&display=swap');


/* -------------------- Colors */

.navbar-collapse ul li a {
    color: #6B6B6B;
}

#navbarNavDropdown{
    background-color:#f8f9fa;
}

.text-container {
    background-color: rgb(248,249,250,0.5);
}

.text-container-small {
    background-color: rgb(248,249,250,0.7);
}

.text-container p {
    color: #333333;
}

.text-container h1 {
    color: #333333;
}

.section-header h3 {
    color: #6B6B6B;
}

.list-header h3 {
    color:#A86067;
}

.about-header h3 {
    color:#A86067;
}

.review-header h3 .review-item p {
    color: #333333;
}

#quote-btn a{
    color: #f8f9fa;
    background-color: #A86067;
}

.section-header h1{
    color: #333333;
}

#icon, #icon2, #icon3 {
    color: #A86067;
}

.five-stars {
    color: #A86067;
}

.address-icon {
    color:#A86067;
}

.reason-item p {
    color: #333333;
}

.button a{
    color: #f8f9fa;
    background-color: #A86067;
}

input[type=submit] {
    background-color: #A86067;
    color:#f8f9fa;
}

.footer {
    background-color: #f8f9fa;
}

.brand-name {
    color: #6B6B6B;
}

.list-inline-item i{
    color: #333333;
}

/* -------------------- Hover and Active */

.navbar-collapse ul li a:hover {
    color: #A86067;
}

#active a{
    color: #A86067;
}

#quote-btn a:hover{
    text-decoration: none;
    color: #A86067;
    background-color:#f8f9fa;
}

.button a:hover{
    text-decoration: none;
    color: #A86067;
    background-color:#f8f9fa;
}

input[type=submit]:hover{
    color:#A86067;
    background-color:#f8f9fa;
}

.list-inline-item i:hover{
    color: #A86067;
}


/* -------------------- Logo and Navbar */

.navbar {
    height: 125px;
    width: 100%;
}

#logo {
    background-image: url("../images/TEM_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px;
    height: 100px;
    width: 100px;
    position: static;
}

.navbar-collapse {
    margin-left: 100px;
}

.nav-item {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

/* -------------------- Hero Containers */

.hero-container-index {
    background-image: url("../images/TEM_hero_image.png");
    margin-top: 125px;
    width: 100%;
    height: 410px;
    position: relative;
    background-position: center 20%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 25px;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}

.hero-container-services {
    background-image: url("../images/TEM_hero_image_services.png");
    margin-top: 125px;
    width: 100%;
    height: 350px;
    position: relative;
    background-position: center 45%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 25px;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}

.hero-container-about {
    background-image: url("../images/TEM_hero_image_about.png");
    margin-top: 125px;
    width: 100%;
    height: 350px;
    position: relative;
    background-position: center 45%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 25px;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}

.hero-container-testimonials {
    background-image: url("../images/TEM_hero_image_testimonials.png");
    margin-top: 125px;
    width: 100%;
    height: 350px;
    position: relative;
    background-position: center 45%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 25px;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}

.text-container {
    position: absolute;
    display: block;
    margin-top: 125px;
    width: 330px;
    height: 120px;
    text-align: center;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 15px;
    left: 101px;
    right: 101px;
}

.text-container-small {
    position: absolute;
    display: block;
    margin-top: 125px;
    width: 330px;
    height: 70px;
    text-align: center;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 15px;
    left: 101px;
    right: 101px;
}

#shout-out {
    text-align: center;
    margin: auto;
}

.hero-container-index a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
    border-radius: 12px;
}

#quote-btn {
    padding-top: 10px;
    text-align: center;
    margin: auto;
}

/* -------------------- Page Main Content Sections */

.section-header h1{
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-header h3 {
    margin: auto;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 20px;
    font-weight: 200;
}

.list-header h3 {
    margin: auto;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

.about-header h3 {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 20px;
}

.review-header h3 {
    font-size: 20px;
    margin-top: 30px;
}

.reason {
    padding-left: 40px;
    padding-right: 40px;
}

#icon, #icon2, #icon3 {
    font-size: 30px;
    text-align: center;
}

.reason-item {
    padding-top: 15px;
    text-align: center;
}

.reason-content {
    padding-bottom: 10px;
}

.button a {
    padding: 10px;
    text-align: center;
    margin: auto;
    border-radius: 12px;
}

.services-list {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

.about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7px;
    width: 100%;
}

.about-list {
    list-style-type: none;
    text-align: left;
    padding-left: 0;
    padding-bottom: 20px;
}

.qualifications-list {
    list-style-type: none;
    text-align: left;
    padding-left: 0;
    font-size: 13px;
}

.contact-container {
    margin-top: 175px;
}

.contact h3{
    text-align: left;
}

.address-icon {
    font-size: 75px;
    text-align: center;
}

.social-media-list {
    text-align: center;
    padding-left: 0;
}

/* -------------------- Contact Form */

input[type=text] {
    display: block;
    width: 40%;
    margin-bottom: 10px;
    border-radius: 5px;
    border-width: 1px;
}

input[type=email] {
    display: block;
    width: 40%;
    margin-bottom: 10px;
    border-radius: 5px;
    border-width: 1px;
}

textarea {
    resize: none;
    display: block;
    width: 60%;
    height: 250px;
    border-radius: 5px;
    border-width: 1px;
}

input[type=submit] {
    display: block;
    width: 80px;
    height: 25px;
    border-radius: 12px;
    margin-top: 12px;
    border: none;
}

label {
    display: block;
    position: left;
}


/* -------------------- Footer */

.footer {
    margin-top: 200px;
    height: 30px;
}

.brand-name {
    display: inline-block;
    font-size: 15px;
    font-weight: 100;
    vertical-align: middle;
}

.social-media {
    display: inline-block;
    padding-right: 40px;
    float: right;
    font-size: 17px;
    vertical-align: middle;
}

/* -------------------- Media */

@media screen and (max-width: 800px) {
    .navbar-collapse {
        margin-left: 0px;
    }
}

@media screen and (max-width: 767px){
    .contact h3 {
        text-align:center;
    }
}

@media screen and (max-width: 766px) {
    #icon, #icon2, #icon3 {
        padding-top: 50px;
    }

    .reason-item {
        padding-top: 0px;
    }

    .reason-content {
        padding-bottom: 0px;
    }
    
    .about img {
        padding-top: 0px;
        width: 75%;
    }

    .about-header h3 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .about-list {
        list-style-type: none;
        text-align: center;
        padding-left: 0;
        padding-bottom: 20px;
    }

    .qualifications-list {
        list-style-type: none;
        text-align: center;
        padding-left: 0;
        font-size: 13px;
    }

    input[type=text] {
        width: 60%;
        margin: auto;
    }

    input[type=email] {
        width: 60%;
        margin: auto;
    }

    textarea {
        width: 60%;
        height: 250px;
        margin: auto;
    }

    input[type=submit] {
        margin: auto;
        margin-top: 12px;
    }

    label {
        display: block;
        margin: auto;
        text-align: center;
        margin-top: 12px;
    }
}
